.chart{
    height: 480px;
}

 i {
    font-size: 27pt;
}

.fa-arrow-up{
    font-size: 20pt;
    margin-left: 5px;
    color: rgb(4, 211, 4);
}

.percentageChart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }

  .percentageGoalChart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }
