.App {
  text-align: center;
  
}
.card {
  @apply 
  dark:bg-zinc-800  
  rounded-lg 
  shadow-lg 
  bg-white
  h-auto;
}
.card_kpi {
  @apply 
  dark:bg-zinc-800  
  rounded-lg 
  shadow-lg 
  bg-white
  h-auto;
  min-height: 340px;
}

.percentageChart{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}

.percentageGoalChart{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}
